<%= form_for [:admin, @event],
             html: { class: 'form-horizontal' } do |f| %>
  <div class="form-group">
    <label class="col-md-4 control-label">
      <strong>Название</strong>
    </label>

    <div class="col-md-8">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label">
      <strong>Место</strong>
    </label>

    <div class="col-md-8">
      <%= f.text_field :location, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label">
      <strong>Организатор</strong>
    </label>

    <div class="col-md-8">
      <%= f.select 'event_handler_id',
                   EventHandler.all.collect { |eh| [ eh.name, eh.id ]},
                   { include_blank: true },
                   { class: 'form-control' } %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label">
      <strong>Начало</strong>
    </label>

    <div class="col-md-8">
        <%= f.text_field :starts_at, class: 'form-control',
                         value: @event.starts_at ? @event.starts_at.strftime("%d.%m.%Y %H:%M") : nil %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label">
      <strong>Сайт</strong>
    </label>

    <div class="col-md-8">
      <%= f.text_field :url, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label">
      Обложка
    </label>

    <div class="col-md-8">
      <div class="col-sm-2">
        <%= image_tag @event.image.url(:thumb) %>
      </div>

      <div class="col-sm-4">
        <%= f.file_field :image %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label">
      <strong>Описание</strong>
    </label>

    <div class="col-md-8">
      <%= f.text_area :description, class: 'form-control' %>
    </div>
  </div>

  <div class="form-controls">
    <%= f.submit 'Сохранить', class: 'btn btn-primary' %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready($(function () {
      $('#event_starts_at').datetimepicker();
  }))
</script>