<div class="page-header">
  <h1>Мероприятия</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>Название</th>
      <th>Место</th>
      <th>Сайт</th>
      <th>Организатор</th>
      <th>Начало</th>
      <th>Дата добавления</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.id, admin_event_path(event) %></td>
        <td><%= event.name %></td>
        <td><%= event.location %></td>
        <td><%= event.url %></td>
        <td><%= event.event_handler.name %></td>
        <td><%=l event.starts_at %></td>
        <td><%=l event.created_at %></td>
        <td>
          <%= link_to 'Просмотр',
                      admin_event_path(event), class: 'btn btn-default btn-xs' %>
          <%= link_to 'Редактировать',
                      edit_admin_event_path(event), class: 'btn btn-default btn-xs' %>
          <%= link_to 'Удалить',
                      admin_event_path(event),
                      method: :delete,
                      data: { confirm: 'Вы уверены?' },
                      class: 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @events,
                  renderer: BootstrapPagination::Rails,
                  previous_label: 'Назад',
                  next_label: 'Далее'
%>

<%= link_to 'Создать',
            new_admin_event_path,
            class: 'btn btn-primary' %>
