<div class="page-header">
  <h1><%= @event.name %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Название:</strong></dt>
  <dd><%= @event.name %></dd>
  <dt><strong>Место:</strong></dt>
  <dd><%= @event.location %></dd>
  <dt><strong>Описание:</strong></dt>
  <dd><%= simple_format(@event.description) %></dd>
  <dt><strong>Сайт:</strong></dt>
  <dd><%= @event.url %></dd>
  <dt><strong>Организатор:</strong></dt>
  <dd><%= @event.event_handler.name %></dd>
  <dt><strong>Начало:</strong></dt>
  <dd><%= @event.starts_at %></dd>
</dl>

<%= link_to 'Назад',
            admin_events_path,
            class: 'btn btn-default'  %>
<%= link_to 'Редактировать',
            edit_admin_event_path(@event),
            class: 'btn btn-default' %>
<%= link_to 'Удалить',
            admin_event_path(@event),
            method: 'delete',
            data: { confirm: 'Вы уверены?' },
            class: 'btn btn-danger' %>
<%= link_to 'Уведомить подписчиков',
            admin_email_subs_path(@event),
            class: 'btn btn-warning' %>
