<div class="page-header">
  <h1><%= @event_handler.name %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Описание:</strong></dt>
  <dd><%= @event_handler.description %></dd>
  <dt><strong>Мероприятия:</strong></dt>
  <dd>
    <table class="table table-striped">
      <tbody>
        <% @event_handler.events.each do |event| %>
          <tr>
            <td><%= link_to event.name, admin_event_path(event) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </dd>
</dl>

<%= link_to 'Назад',
            admin_event_handlers_path,
            class: 'btn btn-default'  %>
<%= link_to 'Редактировать',
            edit_admin_event_handler_path(@event_handler),
            class: 'btn btn-default' %>
<%= link_to 'Удалить',
            admin_event_handler_path(@event_handler),
            method: 'delete',
            data: { confirm: 'Вы уверены?' },
            class: 'btn btn-danger' %>
