<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to 'Rails Test Task', root_path, class: 'navbar-brand' %>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Организаторы', admin_event_handlers_path  %></li>
        <li><%= link_to 'Мероприятия', admin_events_path %></li>
        <li><%= link_to 'Просмотр', root_path %></li>
        <li><%= link_to 'Выйти', admin_logout_path, method: :delete %></li>
      </ul>
    </div>
  </div>
</div>