<div class="row">
  <div class="col-md-4">
    <%= render 'shared/event_search_form' %>

    <%= link_to 'Подписаться на рассылку о ближайших мероприятиях', subscribe_path %>
  </div>

  <div class="col-md-8">
    <div class="page-header">
      <h1>Мероприятия</h1>
    </div>

    <div class="list-group">
      <% @events.each do |event| %>
        <%= link_to event_path(event), class: 'list-group-item' do %>
          <h4 class="list-group-item-heading">
            <%= event.name %>
          </h4>

          <p class="list-group-item-text">Sample Text</p>
          <!--<%= link_to 'Просмотр', event_path(event), class: 'btn btn-primary' %>-->
        <% end %>
      <% end %>
    </div>

    <%= will_paginate @events,
                      renderer: BootstrapPagination::Rails,
                      previous_label: 'Назад',
                      next_label: 'Далее'
    %>

  </div>
</div>
