<div class="row">
  <div class="col-md-4">
    <%= render 'shared/event_search_form' %>
  </div>

  <div class="col-md-8">
    <%- model_class = Event -%>
    <div class="page-header">
      <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
    </div>

    <div class="list-group">
      <% @events.each do |event| %>
        <%= link_to event_path(event), class: 'list-group-item' do %>
          <h4 class="list-group-item-heading">
            <%= event.name %>
          </h4>

          <p class="list-group-item-text">Sample Text</p>
          <!--<%= link_to 'Просмотр', event_path(event), class: 'btn btn-primary' %>-->
        <% end %>
      <% end %>
    </div>

    <%= will_paginate @events, renderer: BootstrapPagination::Rails %>

  </div>
</div>
