<div class="block">
  <div class="block-title">
    <h2>
      <strong><%= @event.name %></strong>
    </h2>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <%= image_tag @event.image.url(:medium) %>
    </div>

    <div class="col-sm-6">
      <table class="table">
        <tr>
          <td><strong>Время</strong></td>
          <td><%= l(@event.starts_at, format: '%d %B %Y, %H:%M') %></td>
        </tr>
        <tr>
          <td><strong>Место</strong></td>
          <td><%= @event.location %></td>
        </tr>
        <tr>
          <td><strong>Ссылка</strong></td>
          <td><%= link_to @event.url, @event.url %></td>
        </tr>
        <tr>
          <td><strong>Организатор</strong></td>
          <td>
            <%= link_to @event.event_handler.name,
                        event_handler_path(@event.event_handler)
            %>
          </td>
        </tr>
        <tr>
          <td>
            <%= link_to 'Скачать ICS', event_ics_path, { download: '', class: 'btn btn-sm btn-warning' } %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="block">
  <div class="block-title">
    <h3>Описание</h3>
  </div>

  <p><%= simple_format(@event.description) %></p>
</div>
